<%= form_tag "/thanks", method: :get do %>

  <section class="stepone">
    <div class="form-group center max-width has-padding">
      <div class="row">
        <h2><%= label_tag :q2, "Step 1: What's the name of your website?" %></h2>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <%= text_field_tag :q2, nil, class: "form-control form-group" %>
        </div>
      </div>
    </div>
  </section>

  <section class="steptwo">
    <div class="form-group center max-width has-padding">
      <h2><%= label_tag :q1, "Step 2: What does your website do?" %></h2>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/p3hiopm7obphjsy/airbnb.jpg" %>
            <h3 class="feature center">Two-sided Marketplace</h3>
            <p class="center">Seller and buyer accounts, transfer payments</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/1679jswfd2mljh8/tumblr.jpg" %>
            <h3 class="feature center">Social Network</h3>
            <p class="center">Follow other users and share content</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/6gd4z9lqozt0jrv/blog.jpg" %>
            <h3 class="feature center">Blog</h3>
            <p class="center">Personal blog, showcase portfolio</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/y6hx3nfeo0qkojc/landingpage.jpg" %>
            <h3 class="feature center">Landing Page</h3>
            <p class="center">Collect emails, collect form</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/a5ksfl0ggab1hli/subscription.jpg" %>
            <h3 class="feature center">Subscription Service</h3>
            <p class="center">Sell product or service for recurring rate</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/pgmk80nvlsu6nop/ecommerce.jpg" %>
            <h3 class="feature center">Ecommerce</h3>
            <p class="center">Manage inventory, accept payments</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="stepthree">
    <div class="form-group center max-width has-padding">
      <h2><%= label_tag :q1, "Step 3: What will you be providing on your marketplace?" %></h2>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/79zh97x9b61uhb5/product.jpg" %>
            <h3 class="feature center">Products</h3>
            <p class="center">Etsy, Ebay</p>
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
          </form>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/22mr353j1vzhhgg/user.png" %>
            <h3 class="feature center">Users</h3>
            <p class="center">Ok Cupid</p>
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/w2bmlain72ghr5w/services.png" %>
            <h3 class="feature center">Services</h3>
            <p class="center">Taskrabbit</p>
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="stepfour">
    <div class="form-group center max-width has-padding">
      <h2><%= label_tag :q1, "Step 4: Which of the following features will you need?" %></h2>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
            <h4 class="feature center">Payment transfers to seller</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
            <h4 class="feature center">Anouncements</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
            <h4 class="feature center">Chat</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
            <h4 class="feature center">Credit Card Payments</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
            <h4 class="feature center">Social Media Integration</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
            <h4 class="feature center">Booking Calender</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
            <h4 class="feature center">Dashboard</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
            <h4 class="feature center">lalalal</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= check_box_tag "features", "reviews", false, class: "form-control form-group" %>
            <h4 class="feature center">lalalal</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="stepfive">
    <div class="form-group center max-width has-padding">
      <div class="row">
        <h2><%= label_tag :q2, "Step 5: Name up to 3 static pages" %></h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4>Title</h4>
          <%= text_field_tag :q2, nil, class: "form-control form-group" %>
          <h4>Content</h4>
          <%= text_area_tag :q2, nil, class: "form-control form-group" %>
        </div>
        <div class="col-md-4">
          <h4>Title</h4>
          <%= text_field_tag :q3, nil, class: "form-control form-group" %>
          <h4>Content</h4>
          <%= text_area_tag :q2, nil, class: "form-control form-group" %>
        </div>
        <div class="col-md-4">
          <h4>Title</h4>
          <%= text_field_tag :q4, nil, class: "form-control form-group" %>
          <h4>Content</h4>
          <%= text_area_tag :q2, nil, class: "form-control form-group" %>
        </div>
      </div>
    </div>
  </section>

  <section class="stepsix">
    <div class="form-group center max-width has-padding">
      <h2><%= label_tag :q1, "Step 6: Pick a page layout" %></h2>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/nylxze3epxwu029/layoutone.png" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/nqbozml5iqgi9sk/layouttwo.png" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/clsinhy4agt4g8f/layoutthree.png" %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="stepseven">
    <div class="form-group center max-width has-padding">
      <h2><%= label_tag :q1, "Step 7: Pick a Design Theme" %></h2>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/kyt263yh8qvhsb7/theme1.png" %>
            <h3 class="feature center">Products</h3>
            <p class="center">Etsy, Ebay</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/nntmnnx0ktlvhbu/theme2.png" %>
            <h3 class="feature center">Users</h3>
            <p class="center">Ok Cupid</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/oweq8x1ps2jx1mq/theme3.png" %>
            <h3 class="feature center">Services</h3>
            <p class="center">Taskrabbit</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/3npv0nze654wja7/theme4.png" %>
            <h3 class="feature center">Products</h3>
            <p class="center">Etsy, Ebay</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/kox1le741j4fyhu/theme5.png" %>
            <h3 class="feature center">Users</h3>
            <p class="center">Ok Cupid</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/94ecyp8zu8haoc7/theme6.png" %>
            <h3 class="feature center">Services</h3>
            <p class="center">Taskrabbit</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= submit_tag "Create my website", class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </section>

<% end %>